
.normalSize{
    position: relative;
    width: 1366px;
    height:768px; 
    margin:0 auto;
     background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.navbar {
    margin:0 auto;
    position:fixed;
    background-color:#404040;
    width: 1366px;
    height: 55px; 
   
}  
.logo{
    height: 55px;
}
.menuName{
    float: left;
    position:relative;
    text-decoration:none;
    height: 55px; 
    width: 120px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;

    font-size: 15px;
    color: #fff;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
} 
.menuName:hover {
    background-color: #262626;    
    color: yellow;
}
footer{
            background:#303030;
             height: 50px;
             width:1366px;
             margin: 0 auto;
        }
body{
    margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
    padding: 0;
   
}
