.description{
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            height: 450px; 
            width: 550px;
            color: #fff;
            font-size: 18px;
            font-style: italic;
            font-family:"Courier New", Courier, monospace;
            line-height: 50px;
            padding: 30px;
            background-color: rgba(0,0,0,.5);
           /* left: 50%;*/
            margin-left: 350px;  
            vertical-align: middle;
            text-align:justify;
        }